@namespace DDEyC_API.Views.Auth
@{
    ViewData["Title"] = "RegisterView";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="~/Assets/css/RegisterView.css" rel="stylesheet" />
</head>
<body>
    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="initialContent w-100">
            @await Html.PartialAsync("HeaderPartial")
        </div>
        <div class="mainTitle d-flex flex-column justify-content-center align-items-center w-100">
            <h1 class="fw-bold display-3 text-white">Registrate</h1>
            <p class="fw-bold text-white">Es rápido y sencillo.</p>
        </div>
        @* required info *@
        <div class="d-flex flex-column justify-content-center align-items-center w-75">
            <div class="d-flex justify-content-between align-items-center w-100">
                <input id="name" class="UserInfo mt-2 mb-2" type="text" placeholder="Nombre" required />
                <input id="lastName" class="UserInfo mt-2 mb-2" type="text" placeholder="Apellido" required />
            </div>
            <div class="d-block w-100">
                <input id="email" class="dialogo" type="email" placeholder="correo electrónico" required />
                <input id="Password" class="dialogo" type="password" placeholder="contraseña" required />
                <input id="ConfirmPassword" class="dialogo" type="password" placeholder="confirmar contraseña" required />
            </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center w-75">
            <p class="adviceText fw-bold text-center">Para proteger tu cuenta, elige una contraseña segura que combine letras mayúsculas y minúsculas, números y simbolos. Esto hará que sea más dificil de adivinar y mucho más segura.</p>
        </div>
        @* birthDate *@
        <div class="w-75 d-flex flex-column mt-2 mb-2">
            <h3>Fecha de nacimiento</h3>
            <div class="w-100 d-flex justify-content-between">
                <div class="w-100 dropdown dropup d-inline-block">
                    <button class="birthdayButton btn dropdown-toggle d-flex justify-content-between align-items-center" type="button" id="dropdownDay" data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="dayDisplay">Día</span>
                        <span class="dropdown-arrow"></span>
                    </button>
                    <ul id="dayOptions" class="dropdown-menu" aria-labelledby="dropdownDay">
                        <script>
                            for (let i = 1; i <= 31; i++) {
                                document.write(`<li><a class="dropdown-item" href="#" onclick="selectOption('dayDisplay', ${i})">${i}</a></li>`);
                            }
                        </script>
                    </ul>
                </div>
                <div class="w-100 dropdown dropup d-inline-block mx-2">
                    <button class="birthdayButton btn dropdown-toggle d-flex justify-content-between align-items-center" type="button" id="dropdownMonth" data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="monthDisplay">Mes</span>
                        <span class="dropdown-arrow"></span>
                    </button>
                    <ul id="monthOptions" class="dropdown-menu" aria-labelledby="dropdownMonth">
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Enero')">Enero</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Febrero')">Febrero</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Marzo')">Marzo</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Abril')">Abril</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Mayo')">Mayo</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Junio')">Junio</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Julio')">Julio</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Agosto')">Agosto</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Septiembre')">Septiembre</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Octubre')">Octubre</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Noviembre')">Noviembre</a></li>
                        <li><a class="dropdown-item" href="#" onclick="selectOption('monthDisplay', 'Diciembre')">Diciembre</a></li>
                    </ul>
                </div>
                <div class="w-100 dropdown dropup d-inline-block">
                    <button class="birthdayButton btn dropdown-toggle d-flex justify-content-between align-items-center" type="button" id="dropdownYear" data-bs-toggle="dropdown" aria-expanded="false">
                        <span id="yearDisplay">Año</span>
                        <span class="dropdown-arrow"></span>
                    </button>
                    <ul id="yearOptions" class="dropdown-menu" aria-labelledby="dropdownYear">
                        <script>
                            const currentYear = new Date().getFullYear();
                            for (let i = currentYear; i >= 1900; i--) {
                                document.write(`<li><a class="dropdown-item" href="#" onclick="selectOption('yearDisplay', ${i})">${i}</a></li>`);
                            }
                        </script>
                    </ul>
                </div>
            </div>
        </div>
        <div class="w-75 d-flex flex-column mt-2 mb-2">
            <h3>Genero</h3>
            <div class="w-100 d-flex justify-content-between">
                <button class="gender" onclick="selectGender(this)">Mujer</button>
                <button class="gender mx-2" onclick="selectGender(this)">Hombre</button>
                <button class="gender" onclick="selectGender(this)">Otro</button>
            </div>
        </div>
        <div class="w-75 d-flex justify-content-between mt-2 mb-2">
            <button type="button" class="RegisterButton bg-primary fw-bold text-white border-0 rounded">Registrarme</button>
            <button type="button" class="back bg-primary fw-bold text-white border-0 rounded">Volver</button>
        </div>
        <!-- Success message -->
        <div id="successMessage" class="w-50 justify-content-center align-items-center mt-5 alert alert-success text-center p-3" role="alert" style="display:none;">
        </div>
        <!-- Error message -->
        <div class="alert alert-danger mt-3 w-50 text-center" id="errorMessage" style="display:none;">
        </div>
        @* logo *@
        <div id="divLogo" class="d-flex h-100 mt-5 justify-content-center align-items-center">
            <img id="logo" src="~/Assets/images/LOGOTIPO GOB MPAL.png" alt="logotipo_oficial_gob_chihuahua" />
        </div>
    </div>
    <script>
        // guardar los valores de la fecha de nacimiento
        var selectedDay = "";
        var selectedMonth = "";
        var selectedYear = "";

        function selectDateOption(elementId, value) {
            document.getElementById(elementId).textContent = value;
            if (elementId === "dayDisplay") {
                selectedDay = value;
            } else if (elementId === "monthDisplay") {
                selectedMonth = value;
            } else if (elementId === "yearDisplay") {
                selectedYear = value;
            }
        }
    </script>
    <script>
        // show different values in dropdowns
        function selectGeneralOption(dropdownId, value) {
            document.getElementById(dropdownId).textContent = value;
        }
    </script>
    <script>
        var selectedGender = "";
        function selectGender(selectedButton) {
            // Remove 'selected' class of all buttons called 'gender' class.
            var buttons = document.querySelectorAll('.gender');
            buttons.forEach(function (button) {
                button.classList.remove('selected');
            });

            // add 'selected' class to clicked button
            selectedButton.classList.add('selected');
            // Guardar el género seleccionado en la variable global
            selectedGender = selectedButton.textContent;
        }
    </script>

    <script>
        var timeOutMessage = setTimeout(() => {
            $('#errorMessage').hide();
        }, 5000);
        // Script to send data with jQuery
        $(document).ready(() => {
            $(".RegisterButton").on("click", function ()  {
                console.log("funciona?");
                var name = $("#name").val();
                var lastName = $("#lastName").val();
                var email = $('#email').val();
                var emailRegex = /^[^\s@@]+@@[^\s@@]+\.[^\s@@]+$/;
                var newPassword = $('#Password').val();
                var confirmPassword = $('#ConfirmPassword').val();

                // validate if the firstName or lastName is empty
                if (name === "") {
                    $('#errorMessage').text("Por favor, ingrese su nombre.").show();
                    timeOutMessage
                    return;
                }
                if (lastName === "") {
                    $('#errorMessage').text("Por favor, ingrese su apellido.").show();
                    timeOutMessage
                    return;
                }
                // Validate if the email input is empty
                if (!email) {
                    $('#errorMessage').text("Por favor, ingrese su dirección de correo electrónico.").show();
                    timeOutMessage
                    return;
                }

                // Validate the email format
                if (!emailRegex.test(email)) {
                    $('#errorMessage').text("Por favor, ingrese una dirección de correo electrónico válida.").show();
                    timeOutMessage
                    return;
                }

                // Verify if both fields are completed
                if (newPassword === "" || confirmPassword === "") {
                    $('#errorMessage').text("Favor de insertar su nueva contraseña").show();
                    timeOutMessage
                    return;
                }
                if (newPassword !== confirmPassword) {
                    $('#errorMessage').text("Las contraseñas no coinciden.").show();
                    timeOutMessage
                    return;
                }

                // Función para convertir el nombre del mes a su número correspondiente
                function getMonthNumber(monthName) {
                    const months = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
                    return (months.indexOf(monthName) + 1).toString().padStart(2, '0'); // Retorna el número del mes con dos dígitos
                }

                // Formatear la fecha en formato "YYYY-MM-DD"
                let monthNumber = getMonthNumber(selectedMonth);
                let birthDate = `${selectedYear}-${monthNumber}-${selectedDay.toString().padStart(1, '0')}`;

                // Send the AJAX request to the backend
                $.ajax({
                    url: "/api/User/register",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify({
                        name: name,
                        lastName: lastName,
                        email: email,
                        newPassword: newPassword,
                        confirmPassword: confirmPassword,
                        birthDate: birthDate, // format YYYY-MM-DD
                        gender: selectedGender 
                    }),
                    success: (response) => {
                        $("#successMessage").text("Registro realizado con éxito!").show();
                        $('#errorMessage').hide();
                    },
                    error: function (xhr, status, error) {
                        var errorMessage = xhr.responseJSON?.title || 'Error al hacer el registro de usuario';
                        alert(errorMessage);
                    }
                });
            });
        });
    </script>
    <!-- Bootstrap JS and Popper.js as normal HTML -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
