<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer contraseña</title>
</head>
<body style="font-family: Arial, sans-serif; line-height: 1.6; color: #333;">
    <table width="100%" cellpadding="0" cellspacing="0" style="max-width: 600px; margin: 0 auto;">
        <tr>
            <td style="padding: 20px 0; text-align: center;">
               <img src="cid:logo-capital" alt="ChihuahuaCapital" width="190" style="display: inline-block; vertical-align: middle;">
                <img src="cid:logo-idea" alt="IdeaLogo" width="190" style="display: inline-block; vertical-align: middle;">
                <img src="cid:logo-municipal" alt="ChihuahuaGobiernoMunicipal" width="190" style="display: inline-block; vertical-align: middle;">
            </td>
        </tr>
        <tr>
            <td style="height: 5px; background-color: #032e61;"></td>
        </tr>
        <tr>
            <td style="padding: 20px;">
                <h1 style="color: #032d60; font-size: 32px; margin-bottom: 20px;">Restablecer contraseña</h1>
                <p>Hola:</p>
                <p>Hemos recibido una solicitud para restablecer tu contraseña.</p>
                <p>Da clic en el siguiente botón para actualizar la contraseña.</p>
                <p style="text-align: center;">
                    <a href="{reset_link}" style="background-color: #032e61; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 4px; display: inline-block;">Restablecer contraseña</a>
                </p>
                <p>Este enlace es válido por 30 minutos</p>
                <h2>¿No solicitaste este cambio?</h2>
                <p>Si no has solicitado una nueva contraseña, ignora este correo electrónico.</p>
                <p>Este correo es único y personal y no debe ser reenviado.</p>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding: 20px 0;">
                <img src="cid:footer-logo" alt="ChihuahuaGobiernoMunicipal" width="190" style="display: block; margin: 0 auto;">
            </td>
        </tr>
    </table>
</body>
</html>