#resetPasswordBtn {
    width: 45%;
    min-width: 100px;
}
#back {
    width: 45%;
    min-width: 100px;
}
#successMessage, #errorMessage {
    display: none;
}
@media(width <= 600px) {
    .actionButton {
        display:flex;
        flex-direction: column;
        justify-content:center;
    }
    #resetPasswordBtn{
        width:100%;
        margin-bottom: 12px;
    }
    #back {
        width: 100%;
        margin-bottom: 12px;
    }
}