body {
}
.mainTitle {
    background-color: #007bff;
    height: 115px;
}
.labelRecovery {
    font-size: 25px
}
#email {
    border-color: #808080;
    min-height: 50px;
}
#sendRecoveryLink, .back {
    width: 45%;
    min-width: 100px;
    min-height: 50px;
}
#sendRecoveryLink:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.back:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

