@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.mainTitle {
    background-color: #007bff;
    height: 115px;
}
    .mainTitle h1 {
        font-size: 36px;
        font-family: 'Montserrat', sans-serif;
    }
.labelRecovery {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
#containerForm {
    width: 50%;
}
.email {
    border-color: #808080;
    height: 50px;
}
#sendRecoveryLink, .back {
    width: 45%;
    min-width: 100px;
    min-height: 50px;
}
#sendRecoveryLink:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.back:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}
#divLogo {
    display:flex;
    justify-content:center;
    align-items:center;
    width: 50%;
}
#logo {
    display: flex;
    width: 50%;
}
.divLogoSmall {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
}
.logoGob {
    display:flex;
    width:100%;
}
@media(width >= 601px){
    .showInPhone{
        display:none;
    }
}
@media(width <= 600px){
    .mainTitle {
        background-color: #007bff;
        height: 115px;
    }
        .mainTitle h1 {
            font-size: 26px;
        }
    .labelRecovery {
        font-size: 18px;
    }
    #containerForm{
        width:75%;
    }
    #optionButtons{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    #sendRecoveryLink, .back {
        width: 100%;
        min-height: 30px;
        margin-bottom:10px;
        font-size:12px;
    }
    #divLogo {
        display: none;
    }
    #logo {
        display:none;
    }
    .showInPhone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .showInPhone img{
        width:50%;
    }
}